@import 'src/index.scss';

.main-container {
  margin: 0 auto;
  max-width: 60vw;
}

.ui {
  min-height: 100vh;
}

@media screen and (max-width: 480px) {
  .main-container {
    min-width: 100vw;
  }
}
