@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8a4d76;
$red: #fe0813;
$brown: #757763;
$white: whitesmoke;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Update Bulma's global variables
$family-sans-serif: 'Nunito', sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $red;
$link: $red;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: #f4f6fa;
$control-border-width: 2px;
$input-border-color: $grey-light;
$input-shadow: none;

// Import only what you need from Bulma
@import '~bulma/bulma.sass';
